* {}

.mask {
    margin: 0px;
    padding: 10;
    display: block;
    box-sizing: content-box;
}

.input-group {
    margin: 0px;
    padding: 10;
    display: block;
    box-sizing: content-box;
    border: 0.08em solid black;
    border-radius: 15px;
}

/* everything above is agniezkas code*/
.belowTheFold {
    background-color: darkslategrey;
}

.event-container {
    max-width: 600px;
    min-height: 600px;
    border: 1px solid white;
}

.music-container {
    max-width: 300px;
    min-height: 300px;
    border: 1px solid white;
}