/*Angnieszkas code*/
* {}

.mask {
    margin: 0px;
    padding: 10;
    display: block;
    box-sizing: content-box;
}

h1 {
    font-family: Permanent Marker;
}

#intro-box {
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 25px;
}

#intro-box p {
    color: white;
    opacity: 100%;
}

.input-group {
    margin: 0px;
    padding: 10;
    display: block;
    box-sizing: content-box;
    border: 0.08em solid black;
    border-radius: 15px;
}

/* everything below this point is Andys code*/
.belowTheFold {
    background-image: linear-gradient(to top, #434343 0%, black 100%);
}

.row {
    text-align: center;
}

.row h2 {
    font-size: xx-large;
    font-weight: bolder;
    color: white;
}

.large-event-box {
    border: solid whitesmoke;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.3);
}

.event-container {
    width: 600px;
    min-height: 600px;
    border-radius: 25px;
    color: white;
}