* {}

.mask {
    margin: 0px;
    padding: 10;
    display: block;
    box-sizing: content-box;
}

.input-group {
    margin: 0px;
    padding: 10;
    display: block;
    box-sizing: content-box;
    border: 0.08em solid black;
    border-radius: 15px;
}

/* everything above is agniezkas code*/
.belowTheFold {
    background-color: #000000;
}

.event-container {
    max-width: 100%;
    min-height: 600px;
    border: 1px solid white;
    background-color:
}

.music-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 400px;
}

.deezer-box {
    flex: 0 350px 0;
    border: 1px solid white;
    width: 350px;
    height: 350px;
}